.div-101 {
    background-color: #DEDEDE;
}
.div-102 {
    gap: 20px;
}
@media (max-width: 991px) {
    .div-102 {
        align-items: stretch;
        gap: 0px;
    }
}
.div-103 {
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 681px;
    flex-grow: 1;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    font-weight: 600;
    text-align: center;
}
@media (max-width: 991px) {
    .div-103 {
        max-width: 100%;
    }
}
.img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.div-104 {
    position: relative;
    border-radius: 20px;
    background-color: #F4F0EC;
    width: 100%;
}
@media (max-width: 991px) {
    .div-104 {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}
.div-105 {
    color: red;
    margin-top: 51px;
    font: 48px Poppins, sans-serif;
    text-align: left;
    padding-left: 50px;
}
@media (max-width: 991px) {
    .div-105 {
        max-width: 100%;
        margin-top: 40px;
        font-size: 40px;
    }
}
.div-106 {
    color: red;
    align-self: center;
    margin: 8px 0 25px;
    font: 28px Poppins, sans-serif;
    text-align: left;
    padding-left: 50px;
}
.div-107 {
    overflow: hidden;
    position: relative;
    min-height: 682px;
    flex-grow: 1;
    align-items: end;
    color: #DD1A21;
    font-weight: 600;
    text-align: center;
    padding: 80px 60px 26px;
}
@media (max-width: 991px) {
    .div-107 {
        max-width: 100%;
        padding: 0 20px;
    }
}
.div-108 {
    position: relative;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 507px;
    width: 235px;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
    padding: 22px 65px;
}
@media (max-width: 991px) {
    .div-108 {
        margin-top: 40px;
        padding: 0 20px;
    }
}
.div-109 {
    margin: auto 0;
    font: 23px Poppins, sans-serif;
}
.div-110 {
    font: 36px Poppins, sans-serif;
}
.div-3 {
    overflow-x: auto;
    background-color: #DEDEDE;
    display: flex;
    margin-top: 31px;
    width: 100%;
    flex-direction: column;
    padding: 21px 23px;
}
@media (max-width: 991px) {
    .div-3 {
        max-width: 100%;
        padding-left: 20px;
    }
}
.div-4 {
    color: #DD1A21;
    text-align: left;
    font: 600 41px Poppins, sans-serif;
}
@media (max-width: 991px) {
    .div-4 {
        max-width: 100%;
    }
}
.div-5 {
    margin-top: 14px;
}
@media (max-width: 991px) {
    .div-5 {
        max-width: 100%;
    }
}
.div-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.div-7 {
    flex: 0 0 calc(25% - 20px); /* Adjust the width */
    margin-bottom: 20px; /* Add some margin to separate items */
}
@media (max-width: 992px) {
    .div-7 {
        flex: 0 0 calc(33.33% - 20px); /* Adjust the width for smaller screens */
    }
}
@media (max-width: 768px) {
    .div-7 {
        flex: 0 0 calc(50% - 20px); /* Adjust the width for even smaller screens */
    }
}
@media (max-width: 576px) {
    .div-7 {
        flex: 0 0 calc(100% - 20px); /* Make the item full width on mobile */
    }
}
.product-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.product-item {
    flex: 0 0 calc(25% - 20px); /* Adjust the width */
}
.product-image {
    width: 100%;
    height: auto;
}
.product-details {
    text-align: left;
}
.product-details p {
    margin: 0;
}
.img-2 {
    aspect-ratio: 1.19;
    object-fit: auto;
    object-position: center;
    width: 100%;
    align-self: start;
    margin-left: 18px;
}
@media (max-width: 991px) {
    .img-2 {
        margin-left: 10px;
    }
}
.div-8 {
    font-family: Poppins, sans-serif;
    text-align: center;
}
.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-2 {
        width: 100%;
    }
}
.div-9 {
    border-radius: 31px;
    background-color: #fff;
    flex-direction: column;
    align-items: start;
    color: #595858;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    padding: 24px 32px;
}
@media (max-width: 991px) {
    .div-9 {
        margin-top: 22px;
        padding-right: 20px;
        white-space: initial;
    }
}
.img-3 {
    aspect-ratio: 1.35;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-left: 19px;
}
@media (max-width: 991px) {
    .img-3 {
        margin-left: 10px;
    }
}
.div-10 {
    align-self: stretch;
    margin-top: 5px;
    font: 20px Poppins, sans-serif;
    text-align: center;
}
.div-11 {
    font: 32px Poppins, sans-serif;
    text-align: center;
}
@media (max-width: 991px) {
    .div-11 {
        margin-left: 10px;
    }
}
.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-3 {
        width: 100%;
    }
}
.div-12 {
    border-radius: 31px;
    background-color: #FEFEFF;
    flex-direction: column;
    align-items: start;
    color: #595858;
    font-weight: 600;
    width: 100%;
    padding: 24px 32px;
}
@media (max-width: 991px) {
    .div-12 {
        margin-top: 22px;
        padding: 0 20px;
    }
}
.img-4 {
    aspect-ratio: 1.35;
    object-fit: auto;
    object-position: center;
    width: 100%;
}
.div-13 {
    align-self: end;
    margin-top: 4px;
    font: 20px Poppins, sans-serif;
    text-align: center;
}
.div-14 {
    font: 32px Poppins, sans-serif;
    text-align: center;
}
@media (max-width: 991px) {
    .div-14 {
        margin-left: 10px;
    }
}
.column-4 {
    line-height: normal;
    width: 25%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-4 {
        width: 100%;
    }
}
.div-15 {
    border-radius: 31px;
    background-color: #fff;
    flex-direction: column;
    color: #595858;
    white-space: nowrap;
    width: 100%;
    padding: 24px 32px;
}
@media (max-width: 991px) {
    .div-15 {
        margin-top: 22px;
        white-space: initial;
        padding: 0 20px;
    }
}
.img-5 {
    aspect-ratio: 1.39;
    object-fit: auto;
    object-position: center;
    width: 100%;
}
.div-16 {
    margin-top: 5px;
    font: 20px Poppins, sans-serif;
    text-align: center;
}
.div-17 {
    font: 32px Poppins, sans-serif;
    text-align: center;
}
@media (max-width: 991px) {
    .div-17 {
        margin-left: 10px;
    }
}
.div-18 {
    overflow-x: auto;
    background-color: #DEDEDE;
    display: flex;
    margin-top: 39px;
    width: 100%;
    flex-direction: column;
    padding: 15px 18px 30px;
}
@media (max-width: 991px) {
    .div-18 {
        max-width: 100%;
    }
}
.div-19 {
    color: #DD1A21;
    text-align: left;
    font: 600 41px Poppins, sans-serif;
}
@media (max-width: 991px) {
    .div-19 {
        max-width: 100%;
    }
}
.div-20 {
    margin-top: 32px;
}
@media (max-width: 991px) {
    .div-20 {
        max-width: 100%;
    }
}
.div-21 {
    gap: 20px;
    display: flex;
}
@media (max-width: 991px) {
    .div-21 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}
.div-22 {
    border-radius: 31px;
    background-color: #fff;
    flex-direction: column;
    font-size: 20px;
    color: #595858;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 24px 36px 73px 8px;
}
@media (max-width: 991px) {
    .div-22 {
        margin-top: 24px;
        padding-right: 20px;
    }
}
.img-6 {
    aspect-ratio: 1.35;
    object-fit: auto;
    object-position: center;
    width: 100%;
    align-self: start;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .img-6 {
        margin-left: 10px;
    }
}
.div-23 {
    font-family: Poppins, sans-serif;
}
.column-5 {
    line-height: normal;
    width: 25%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-5 {
        width: 100%;
    }
}
.div-24 {
    border-radius: 31px;
    background-color: #fff;
    flex-direction: column;
    align-items: start;
    color: #595858;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    padding: 26px 0;
}
@media (max-width: 991px) {
    .div-24 {
        margin-top: 24px;
        white-space: initial;
    }
}
.img-7 {
    aspect-ratio: 1.14;
    object-fit: auto;
    object-position: center;
    width: 228px;
    margin-left: 16px;
    max-width: 100%;
}
@media (max-width: 991px) {
    .img-7 {
        margin-left: 10px;
    }
}
.div-25 {
    align-self: stretch;
    margin-top: 5px;
    font: 20px Poppins, sans-serif;
    text-align: center;
}
.div-26 {
    font: 32px Poppins, sans-serif;
    text-align: center;
}
@media (max-width: 991px) {
    .div-26 {
        margin-left: 10px;
    }
}
.column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-6 {
        width: 100%;
    }
}
.div-27 {
    border-radius: 31px;
    background-color: #FEFEFF;
    flex-direction: column;
    align-items: start;
    color: #595858;
    font-weight: 600;
    width: 100%;
    padding: 27px 28px;
}
@media (max-width: 991px) {
    .div-27 {
        margin-top: 24px;
        padding: 0 20px;
    }
}
.img-8 {
    aspect-ratio: 1.35;
    object-fit: auto;
    object-position: center;
    width: 100%;
}
.div-28 {
    align-self: end;
    margin-top: 4px;
    font: 20px Poppins, sans-serif;
    text-align: center;
}
.div-29 {
    font: 32px Poppins, sans-serif;
    text-align: center;
}
@media (max-width: 991px) {
    .div-29 {
        margin-left: 10px;
    }
}
.column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-7 {
        width: 100%;
    }
}
.div-30 {
    border-radius: 31px;
    background-color: #fff;
    flex-direction: column;
    color: #595858;
    font-weight: 600;
    white-space: nowrap;
    width: 100%;
    padding: 26px 28px;
}
@media (max-width: 991px) {
    .div-30 {
        margin-top: 24px;
        white-space: initial;
        padding: 0 20px;
    }
}
.img-9 {
    aspect-ratio: 1.39;
    object-fit: auto;
    object-position: center;
    width: 100%;
}
.div-31 {
    margin-top: 5px;
    font: 20px Poppins, sans-serif;
    text-align: center;
}
.div-32 {
    font: 32px Poppins, sans-serif;
    text-align: center;
}
@media (max-width: 991px) {
    .div-32 {
        margin-left: 10px;
    }
}