<head>
    <link rel="stylesheet" href="/css/About.css">
</head>
<div class="div">
    <div class="div-2">
        <div class="div-3">
            <div class="div-4">
                <div class="column">
                    <img loading="lazy"
                         src="/img/legowoman.png"
                         class="img" />
                </div>
                <div class="column-2">
                    <div class="div-5">
                        <div class="div-6">About</div>
                        <div class="div-7">
                            <div class="div-8">
                                Aurora Brickwell, more commonly known as The Lego Lady, embarked
                                on her TikTok journey in May 2019, igniting a passion for
                                creativity and innovation within the world of LEGO. With each
                                meticulously crafted brick, she captivated audiences worldwide,
                                transforming her humble beginnings into a digital empire.
                                <br />
                                <br />
                                Aurora's infectious enthusiasm and unwavering dedication earned
                                her thousands of devoted followers and millions of mesmerized
                                viewers. Through her imaginative designs and engaging content,
                                she continues to inspire and delight, solidifying her place as a
                                beloved figure in the vibrant online LEGO World.
                            </div>
                            <div class="div-9">
                                <img loading="lazy"
                                     src="/img/instagram.jpg"
                                     class="img-2" />
                                <img loading="lazy"
                                     src="/img/tiktok.jpg"
                                     class="img-3" />
                                <img loading="lazy"
                                     src="/img/facebook.jpg"
                                     class="img-4" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-10">
        <div class="div-11">Aurora’s Favorites</div>
        <div class="div-12">
            <div class="div-13">
                <div class="column-3">
                    <div class="div-14">
                        <img loading="lazy"
                             src="/img/chess.jpg"
                             class="img-5" />
                        <div class="div-15">Iconic Chess Set</div>
                        <div class="div-18">$46</div>
                    </div>
                </div>
                <div class="column-4">
                    <div class="div-14">
                        <img loading="lazy"
                             src="/img/typewriter.jpg"
                             class="img-6" />
                        <div class="div-15">Typewriter</div>
                        <div class="div-18">$250</div>
                    </div>
                </div>
                <div class="column-5">
                    <div class="div-14">
                        <img loading="lazy"
                             src="/img/up.jpg"
                             class="img-7" />
                        <div class="div-15">“Up” House</div>
                        <div class="div-18">$60</div>
                    </div>
                </div>
                <div class="column-6">
                    <div class="div-14">
                        <img loading="lazy"
                             src="/img/paris.jpg"
                             class="img-8" />
                        <div class="div-15">Paris</div>
                        <div class="div-18">$50</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-25">Brick by Brick</div>
    <div class="div-26">The Lego Lady has ...</div>
    <div class="div-27">
        <div class="div-28">
            <div class="column-7">
                <div class="div-29">
                    <div class="div-30">Sold 12,000+ Lego sets and counting</div>
                    <div class="div-31">Gained 15,000,000+ views on TikTok</div>
                    <div class="div-32">Inspired builders across the globe</div>
                </div>
            </div>
            <div class="column-8">
                <img loading="lazy"
                     src="/img/legodudes.jpg"
                     class="img-9" />
            </div>
        </div>
    </div>
</div>