@model Product

<h1>Enter a Movie</h1>

<!--the form to submit a movie-->
<form method="post">
    <input type="hidden" asp-for="ProductId" />
    <label asp-for="Name">Product Name: </label>
    <input asp-for="Name" required />
    <br />
    <br />
    <label asp-for="Year">Year: </label>
    <input asp-for="Year" required />
    <br />
    <br />
    <label asp-for="NumParts">Number of Parts: </label>
    <input asp-for="NumParts" required />
    <br />
    <br />
    <label asp-for="Price">Price: </label>
    <input asp-for="Price" required />
    <br />
    <br />
    <label asp-for="PrimaryColor">Primary Color: </label>
    <input asp-for="PrimaryColor" required />
    <br />
    <br />
    <label asp-for="SecondaryColor">Secondary Color: </label>
    <input asp-for="SecondaryColor"/>
    <br />
    <br />
    <label asp-for="ImgLink">Image Link: </label>
    <input asp-for="ImgLink"/>
    <br />
    <br />
    <label asp-for="Description">Description: </label>
    <input asp-for="Description"/>
    <br />
    <br />
    <label asp-for="Category">Category: </label>
    <input asp-for="Category"/>
    <br />
    <br />
    <label asp-for="Category1">Category One: </label>
    <input asp-for="Category1"/>
    <br />
    <br />
    <label asp-for="Category2">Category Two: </label>
    <input asp-for="Category2"/>
    <br />
    <br />
    <label asp-for="Category3">Category Three: </label>
    <input asp-for="Category3"/>
    <br />
    <br />
    <button type="submit">Submit Movie</button>
</form>