@model Order

<h2>Are you sure you want to to delete</h2>
<h1>Order #@Model.TransactionId</h1>
<h5>This action can NOT be undone</h5>

<form method="post">

    <input type="hidden" asp-for="TransactionId" />

    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="AdminOrderPage">Cancel</a>
</form>
