@model Product

<h1>Enter New Product</h1>

<!--the form to submit a movie-->
<form method="post">
    <input type="hidden" asp-for="ProductId" />
    <label asp-for="Name">Product Name: </label>
    <input asp-for="Name" required />
    <br />
    <br />
    <label asp-for="Year">Year: </label>
    <input asp-for="Year" type="number" min="1950" max="2024" required />
    <br />
    <br />
    <label asp-for="NumParts">Number of Parts: </label>
    <input asp-for="NumParts" type="number" min="0" required />
    <br />
    <br />
    <label asp-for="Price">Price: </label>
    <input asp-for="Price" type="number" required />
    <br />
    <br />
    <label asp-for="PrimaryColor">Primary Color: </label>
    <select asp-for="PrimaryColor" name="color">
        <option value="Orange">Orange</option>
        <option value="Yellow">Yellow</option>
        <option value="Green">Green</option>
        <option value="Red">Red</option>
        <option value="Grey">Grey</option>
        <option value="White">White</option>
        <option value="Brown">Brown</option>
        <option value="Black">Black</option>
        <option value="Blue">Blue</option>
        <option value="Tan">Tan</option>
        <option value="Pink">Pink</option>
    </select>
    <br />
    <br />
    <label asp-for="SecondaryColor">Secondary Color </label>
    <select asp-for="SecondaryColor" name="color">
        <option value="Orange">Orange</option>
        <option value="Yellow">Yellow</option>
        <option value="Green">Green</option>
        <option value="Red">Red</option>
        <option value="Grey">Grey</option>
        <option value="White">White</option>
        <option value="Brown">Brown</option>
        <option value="Black">Black</option>
        <option value="Blue">Blue</option>
        <option value="Tan">Tan</option>
        <option value="Pink">Pink</option>
    </select>
    <br />
    <br />
    <label asp-for="ImgLink">Image Link: </label>
    <input asp-for="ImgLink"/>
    <br />
    <br />
    <label asp-for="Description">Description: </label>
    <input asp-for="Description"/>
    <br />
    <br />
    <label asp-for="Category">Category: </label>
    <input asp-for="Category"/>
    <br />
    <br />
    <label asp-for="Category1">Category One: </label>
    <input asp-for="Category1"/>
    <br />
    <br />
    <label asp-for="Category2">Category Two: </label>
    <input asp-for="Category2"/>
    <br />
    <br />
    <label asp-for="Category3">Category Three: </label>
    <input asp-for="Category3"/>
    <br />
    <br />
    <button type="submit">Submit</button>
</form>