@model Order

<h1>Orders</h1>

<!--the form to submit a movie-->
<form method="post">
    <input type="hidden" asp-for="TransactionId" />
    <label asp-for="Date">Date Order Placed: </label>
    <input asp-for="Date" type="date" required />
    <br />
    <br />
    <label asp-for="DayOfWeek">Day of Week Order Placed: </label>
    <select asp-for="DayOfWeek">
        <option value="Sun">Sunday</option>
        <option value="Mon">Monday</option>
        <option value="Tue">Tuesday</option>
        <option value="Wed">Wednesday</option>
        <option value="Thu">Thursday</option>
        <option value="Fri">Friday</option>
        <option value="Sat">Saturday</option>
    </select>
    <br />
    <br />
    <label asp-for="Time">Time Order Placed: </label>
    <input asp-for="Time" type="number" required />
    <br />
    <br />
    <label asp-for="EntryMode">Entry Mode: </label>
    <select asp-for="EntryMode">
        <option value="CVV">CVV</option>
        <option value="CVC">CVC</option>
        <option value="PIN">PIN</option>
        <option value="Tap">Tap</option>
    </select>
    <br />
    <br />
    <label asp-for="Amount">Amount: </label>
    <input asp-for="Amount" type="number" required />
    <br />
    <br />
    <label asp-for="TypeOfTransaction">Type of Transaction: </label>
        <select asp-for="TypeOfTransaction">
            <option value="Online">Online</option>
            <option value="POS">POS</option>
            <option value="ATM">ATM</option>
        </select>
    <br />
    <br />
    <label asp-for="CountryOfTransaction">Country of Transaction:</label>
    <select asp-for="CountryOfTransaction">
        <option value="USA">USA</option>
        <option value="United Kingdom">United Kingdom</option>
        <option value="India">India</option>
        <option value="China">China</option>
        <option value="Russia">Russia</option>
    </select>
    <br />
    <br />
    <label>Shipping Address:</label>
    <select asp-for="ShippingAddress">
        <option value="USA">USA</option>
        <option value="United Kingdom">United Kingdom</option>
        <option value="India">India</option>
        <option value="China">China</option>
        <option value="Russia">Russia</option>
    </select>
    <br />
    <br />
    <label asp-for="Bank">Bank: </label>
    <input asp-for="Bank"/>
    <br />
    <br />
    <label asp-for="TypeOfCard">Type of Card: </label>
    <input asp-for="TypeOfCard"/>
    <br />
    <br />
    <label asp-for="Fraud">Transaction Fraudulent: </label>
    <select asp-for="Fraud">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
    <br />
    <button type="submit">Place Order</button>
</form>