<head>
    <link rel="stylesheet" href="/css/CompletedSignUp.css">
</head>
<div class="div">
    <div class="div-2">
        <div>
            <div class="div-3">
                <img loading="lazy"
                     src="/img/legobackground.jpg"
                     class="img" />
                <div class="div-4">
                    <div class="div-5">Your order is under review!</div>
                    <br/><br/>
                    <div class="div-6">This transaction is awaiting admin approval</div>
                </div>
            </div>
        </div>
    </div>
</div>
