<head>
    <link rel="stylesheet" href="/css/LandingPage.css">
</head>

@* Cookie stuff
 *@
<div id="cookieConsent" class="cookie-consent">
    <div class="cookie-message">
        We use cookies to improve your experience on our website. By continuing to browse this site, you agree to our use of cookies.
        <button id="acceptCookiesBtn" class="accept-cookies-btn">Got it!</button>
        <a asp-controller="Home" asp-action="Privacy" class="learn-more-link">Learn more</a>
    </div>
</div>

<div class="div-101">
    <div class="div-102">
        <div>
            <div class="div-103">
                <img loading="lazy"
                     src="/img/legobackground.jpg"
                     class="img" />
                <div class="div-104">
                    <div class="div-105">Shop Lego Sets</div>
                    <div class="div-106">Add something new to your collection today!</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="div-3">
        <div class="div-4">Highly Rated</div>
        <div class="div-5">
            <div class="div-6">
                <div class="column">
                    <div class="div-7">
                        <img loading="lazy"
                             src="/img/exoticpeacock.jpg"
                             class="img-2" />
                        <div class="div-8">Exotic Peacock</div>
                        <div class="div-11">$20</div>   
                    </div>
                </div>
                <div class="column-2">
                    <div class="div-9">
                        <img loading="lazy"
                             src="/img/spaceastronaut.jpg"
                             class="img-3" />
                        <div class="div-10">Space Astronaut</div>
                        <div class="div-11">$55</div>
                    </div>
                </div>
                <div class="column-3">
                    <div class="div-12">
                        <img loading="lazy"
                             src="/img/up.jpg"
                             class="img-4" />
                        <div class="div-13">“Up” House</div>
                        <div class="div-14">$60</div>
                    </div>
                </div>
                <div class="column-4">
                    <div class="div-15">
                        <img loading="lazy"
                             src="/img/talkingsortinghat.jpg"
                             class="img-5" />
                        <div class="div-16">Talking Sorting Hat</div>
                        <div class="div-17">$100</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-18">
        <div class="div-19">Best Sellers</div>
        <div class="div-20">
            <div class="div-21">
                <div class="column-4">
                    <div class="div-22">
                        <img loading="lazy"
                             src="/img/brick.jpg"
                             class="img-6" />
                        <div class="div-23">Brick 2x2</div>
                        <div class="div-26">$1</div>
                    </div>
                </div>
                <div class="column-5">
                    <div class="div-24">
                        <img loading="lazy"
                             src="/img/batterybox.jpg"
                             class="img-7" />
                        <div class="div-25">Battery Box</div>
                        <div class="div-26">$2</div>
                    </div>
                </div>
                <div class="column-6">
                    <div class="div-27">
                        <img loading="lazy"
                             src="/img/wheelset1.jpg"
                             class="img-8" />
                        <div class="div-28">Wheel Sets, Black</div>
                        <div class="div-29">$2</div>
                    </div>
                </div>
                <div class="column-7">
                    <div class="div-30">
                        <img loading="lazy"
                         src="/img/baseplate1.jpg"
                             class="img-9" />
                        <div class="div-31">Baseplate</div>
                        <div class="div-32">$3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Cookie Stuff
 *@<script>
    // JavaScript code to handle cookie consent
    document.addEventListener('DOMContentLoaded', function () {
        var cookieConsent = document.getElementById('cookieConsent');
        var acceptCookiesBtn = document.getElementById('acceptCookiesBtn');

        // Check if user has previously accepted cookies
        var cookiesAccepted = localStorage.getItem('cookiesAccepted');

        // Display the cookie consent notification if user hasn't accepted cookies
        if (!cookiesAccepted) {
            cookieConsent.style.display = 'block';
        }

        // Event listener for accept cookies button
        acceptCookiesBtn.addEventListener('click', function () {
            localStorage.setItem('cookiesAccepted', true);
            cookieConsent.style.display = 'none';
        });
    });
</script>
