<head>
    <link rel="stylesheet" href="/css/Privacy.css">
</head>
<div class="div">
    <div class="div-2">
        <div>
            <div class="div-3">
                <img loading="lazy"
                     src="/img/legobackground.jpg"
                     class="img" />
                <div class="div-4">
                    <div class="div-5">Your Privacy Matters</div>
                    <div class="div-6">
                        <div class="div-7">
                            TheLegoLady is part of the The Lego Group™ which includes
                            TheLegoLady International and TheLegoLady Direct. This privacy
                            policy will explain how TheLegoLady uses the personal data we
                            collect from you when you use our website.
                        </div>
                        <div class="div-8">
                            <span style="font-weight: 700; font-size: 24px">Topics:</span>
                            <ul>
                                <li>What data do we collect?</li>
                                <li>How do we collect your data?</li>
                                <li>How will we use your data?</li>
                                <li>How do we store your data?</li>
                                <li>Marketing</li>
                                <li>What are your data protection rights?</li>
                                <li>What are cookies?</li>
                                <li>How do we use cookies?</li>
                                <li>What types of cookies do we use?</li>
                                <li>How to manage your cookies</li>
                                <li>Privacy policies of other websites</li>
                                <li>Changes to our privacy policy</li>
                                <li>How to contact us</li>
                                <li>How to contact the appropriate authorities</li>
                            </ul>
                        </div>
                        <div class="div-9">
                            What data do we collect?
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                Our Company collects the following data:
                            </span>
                            <ul>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Personal identification information (Name, email address,
                                        phone number, etc.)
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="div-10">
                            How do we Collect Your Data?
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                You directly provide Our Company with most of the data we
                                collect. We collect data and process data when you:
                            </span>
                            <ul>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Register online or place an order for any of our products or
                                        services.
                                    </span>
                                </li>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Voluntarily complete a customer survey or provide feedback
                                        on any of our message boards or via email.
                                    </span>
                                </li>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Use or view our website via your browser’s cookies.
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

