<head>
    <link rel="stylesheet" href="/css/Privacy.css">
</head>
<div class="div">
    <div class="div-2">
        <div>
            <div class="div-3">
                <img loading="lazy"
                     src="/img/legobackground.jpg"
                     class="img" />
                <div class="div-4">
                    <div class="div-5">Your Privacy Matters</div>
                    <div class="div-6">
                        <div class="div-7">
                            TheLegoLady is part of the The Lego Group™ which includes
                            TheLegoLady International and TheLegoLady Direct. This privacy
                            policy will explain how TheLegoLady uses the personal data we
                            collect from you when you use our website.
                        </div>
                        <div class="div-8">
                            <span style="font-weight: 700; font-size: 24px">Topics:</span>
                            <ul>
                                <li>What data do we collect?</li>
                                <li>How do we collect your data?</li>
                                <li>How will we use your data?</li>
                                <li>How do we store your data?</li>
                                <li>Marketing</li>
                                <li>What are your data protection rights?</li>
                                <li>What are cookies?</li>
                                <li>How do we use cookies?</li>
                                <li>What types of cookies do we use?</li>
                                <li>How to manage your cookies</li>
                                <li>Changes to our privacy policy</li>
                                <li>How to contact us</li>
                                <li>How to contact the appropriate authorities</li>
                            </ul>
                        </div>
                        <div class="div-9">
                            What data do we collect?
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                TheLegoLady collects the following data:
                            </span>
                            <ul>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Personal identification information (Name, email address,
                                        phone number, etc.)
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="div-10">
                            How do we Collect Your Data?
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                You directly provide TheLegoLady with most of the data we
                                collect. We collect data and process data when you:
                            </span>
                            <ul>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Register online or place an order for any of our products or
                                        services.
                                    </span>
                                </li>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Voluntarily complete a customer survey or provide feedback
                                        on any of our message boards or via email.
                                    </span>
                                </li>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Use or view our website via your browser’s cookies.
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="div-10">
                            How will we use your data?
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                TheLegoLady collects your data so that we can:
                            </span>
                            <ul>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Email you with special offers on other products and services we think you might like.
                                    </span>
                                </li>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        If you agree, TheLegoLady will share your data with our partner companies so that they may offer you their products and services.
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="div-10">
                            How do we store your data?
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                TheLegoLady securely stores your data.
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                TheLegoLady will keep your data for 7 years. Once this time period has expired, we will delete your data.
                            </span>
                        </div>

                        <div class="div-10">
                            Marketing
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                TheLegoLady would like to send you information about products and services of ours that we think you might like, as well as those of our partner companies.
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                If you have agreed to receive marketing, you may always opt out at a later date.
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                You have the right at any time to stop TheLegoLady from contacting you for marketing purposes or giving your data to other members of the The Lego Group.
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                If you no longer wish to be contacted for marketing purposes, please click here.
                            </span>
                        </div>

                        <div class="div-10">
                            What are your data protection rights?
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                TheLegoLady would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                The right to access – You have the right to request TheLegoLady for copies of your personal data. We may charge you a small fee for this service.
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                The right to rectification – You have the right to request that TheLegoLady correct any information you believe is inaccurate. You also have the right to request TheLegoLady to complete the information you believe is incomplete.
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                The right to erasure – You have the right to request that TheLegoLady erase your personal data, under certain conditions.
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                The right to restrict processing – You have the right to request that TheLegoLady restrict the processing of your personal data, under certain conditions.
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                The right to object to processing – You have the right to object to TheLegoLady processing of your personal data, under certain conditions.
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                The right to data portability – You have the right to request that TheLegoLady transfer the data that we have collected to another organization, or directly to you, under certain conditions.
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                Call us at: 909-530-1360
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                Or write to us: TheLegoLady@gmail.com
                            </span>
                        </div>

                        <div class="div-10">
                            Cookies
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                For further information, visit allaboutcookies.org.
                            </span>
                        </div>

                        <div class="div-10">
                            How do we use cookies?
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                TheLegoLady uses cookies in a range of ways to improve your experience on our website, including:
                            </span>
                            <ul>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Keeping you signed in
                                    </span>
                                </li>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Understanding how you use our website
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="div-10">
                            What types of cookies do we use?
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                There are a number of different types of cookies, however, our website uses:
                            </span>
                            <ul>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Functionality - TheLegoLady uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.
                                    </span>
                                </li>
                                <li>
                                    <span style="font-weight: 600; font-size: 16px">
                                        Advertising – TheLegoLady uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. Our Company sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="div-10">
                            How to manage cookies
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.
                            </span>
                        </div>

                        <div class="div-10">
                            Changes to our privacy policy
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                TheLegoLady keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 9 January 2019.
                            </span>
                        </div>

                        <div class="div-10">
                            How to contact us
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                If you have any questions about TheLegoLady’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                Email us at: TheLegoLady@gmail.com
                            </span>
                            <br />
                            <span style="font-weight: 600; font-size: 16px">
                                Call us: 909-530-1360
                            </span>
                            <br />
                        </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>